.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes fade-in {
  from {
    opasity: 0;
    -webkit-transform: translateX(-200px) scale(0.2);
            transform: translateX(-200px) scale(0.2);
  }
  to {
    opasity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes fade-in {
  from {
    opasity: 0;
    -webkit-transform: translateX(-200px) scale(0.2);
            transform: translateX(-200px) scale(0.2);
  }
  to {
    opasity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
body {
  color: #212121;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clients__section, .team__section, .advantages__section {
  padding: 94px 0;
}

.cards__container, .footer__container, .clients__container, .team__container, .work__container, .advantages__container, .header__container, .navigation {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.portfolio-btn, .main-btn {
  cursor: pointer;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  text-align: center;
  border-color: transparent;
}

.main-btn {
  display: block;
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}

.portfolio-btn {
  background-color: #F5F4FA;
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.active-btn {
  color: #FFFFFF;
  background-color: #2196F3;
}

.logo__footer, .logo__header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__header {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}
.logo--blue {
  color: #2196F3;
}
.logo--black {
  color: #000000;
}
.logo--white {
  color: #FFFFFF;
}

.h2-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.h3-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list--active-item {
  color: #2196F3;
}
.nav-list--active-item::after {
  content: "";
  display: block;
  border-bottom: 4px solid #2196F3;
  width: 100%;
}

.nav-list__link {
  padding: 32px 0;
  display: block;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: #2196F3;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__item--rgb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts__item--rgba {
  color: rgba(255, 255, 255, 0.6);
}
.contacts__item:not(:last-child) {
  margin-right: 40px;
}
.contacts__icon {
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
  margin-right: 10px;
}

.contacts__link {
  padding: 32px 0;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
}
.contacts__link--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

.contacts__link:hover .contacts__icon {
  fill: #2196F3;
}

.contacts__link:focus .contacts__icon {
  fill: #2196F3;
}

.socmedia-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socmedia-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socmedia-list__link:hover, .socmedia-list__link:focus {
  background-color: #2196F3;
}

.socmedia-list__icon--white {
  fill: #FFFFFF;
}
.socmedia-list__icon--grey {
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #AFB1B8;
}

.socmedia-list__link:hover .socmedia-list__icon--grey {
  fill: #FFFFFF;
}

.socmedia-list__link:focus .socmedia-list__icon--grey {
  fill: #FFFFFF;
}

.close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address__item {
  color: #FFFFFF;
  margin-bottom: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out, visibaility 300ms ease-out;
  transition: opacity 300ms ease-out, visibaility 300ms ease-out;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
  width: 528px;
  height: 581px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  padding: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
}

.form__title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.form__container {
  margin-bottom: 20px;
}
.form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon {
  position: absolute;
  left: 0;
  top: 27px;
  margin-left: 12px;
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea {
  resize: none;
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__label:nth-child(-n+4) {
  margin-bottom: 10px;
}

.form__input:focus-within + .form__icon {
  fill: #2196F3;
}

.form__input:focus-within,
.form__textarea:focus-within {
  border-color: #2196F3;
}

.license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  position: relative;
}
.license__input {
  position: absolute;
  top: 0;
  left: 0;
}
.license__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.license__icon-check {
  opacity: 0;
}
.license__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.license__link {
  text-decoration: underline;
  text-underline-position: under;
  color: #2196F3;
}

.license__input:checked + .license__icon .license__icon-check {
  opacity: 1;
}

.license__input:checked + .license__icon .license__icon-empty {
  opacity: 0;
}

.navigation {
  border-top: 1px solid #ECECEC;
  padding-top: 174px;
}
.navigation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 1;
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2F303A;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 83px;
}
.hero__container {
  padding: 200px 0;
}
.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 1.36;
  width: 696px;
  height: 120px;
  margin: 0 auto 30px auto;
  -webkit-animation: fade-in 2000ms ease 100ms 1 both;
          animation: fade-in 2000ms ease 100ms 1 both;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}
.advantages__h3-title {
  margin-bottom: 10px;
}
.advantages__desc {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages__item {
  max-width: 270px;
}
.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.work__section {
  padding-bottom: 94px;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__section {
  background-color: var(--background-color-grey);
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__item {
  background-color: var(--background-color-light);
  line-height: 1.19;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
  margin: 30px auto 10px auto;
}
.team__position {
  color: var(--text-color-grey);
  margin-bottom: 16px;
}
.team__socmedia-list {
  margin-bottom: 30px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.clients__icon {
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #AFB1B8;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  border-color: #2196F3;
}

.clients__link:hover .clients__icon {
  fill: #2196F3;
}

.clients__link:focus .client__icon {
  fill: #2196F3;
}

.footer__section {
  background-color: #2F303A;
  padding: 60px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socmedia {
  margin-left: 94px;
}
.footer__h3-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.cards__container {
  padding-bottom: 94px;
}
.cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.cards__img {
  display: block;
}
.cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(140%);
          transform: translateY(140%);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.cards__info {
  padding: 20px 24px;
}
.cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.cards.card__desk {
  color: #757575;
  line-height: 1.88;
}

.cards__item {
  position: relative;
  outline: 1px solid #EEEEEE;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__item:hover, .cards__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__link:hover .cards__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.cards__link:focus .cards__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */