:root {
    --brand-color-blue: #2196F3;
    --logo-color-black: #000000;
    --text-color-grey: #757575;
    --text-color-black: #212121;
    --text-color-white: #FFFFFF;
    --background-color-light: #FFFFFF;
    --background-color-grey: #F5F4FA;
    --background-color-black: #2F303A;
    --icon-grey-color: #AFB1B8;
}

body {
    color: var(--text-color-black);
    background-color: var(--background-color-light);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

h1, h2, h3, h4, p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0;
}

.button {
    cursor: pointer;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.h2-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
display: flex;
align-items: center;
}

.upper-logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo-blue {
    color: var(--brand-color-blue);
}

.logo-black {
    color: var(--logo-color-black);
}

.header-list {
    display: flex;
}

.header-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
}

.header-list-item:hover, .header-list-item:focus {
    color: var(--brand-color-blue);
}

.header-list-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts-link {
    margin-right: 10px;
}

.header-list-item-portfolio, .header-list-item-studio {
    color: var(--brand-color-blue);
}

.header-contacts {
    display: flex;
}

.header-contacts-list {
    display: flex;
    justify-content: space-between;
}

.header-contacts-list-item {
    display: flex;
    align-items: center;
    color: var(--text-color-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
}

.header-contacts-link:hover, .header-contacts-link:focus {
    color: var(--brand-color-blue);
}

.header-contacts-list-item:not(:last-child) {
margin-right: 40px;
}

.header-contacts-link:hover .header-icons {
    fill: var(--brand-color-blue);
}

.header-contacts-link:focus .header-icons {
    fill: var(--brand-color-blue);
}

.header-icons {
    fill: var(--text-color-grey);
    margin-right: 10px;
}

/* HERO */
.hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, .4), rgba(47, 48, 58, .4)), url(../images/index/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--background-color-black);
    max-width: 1600px;
    margin: 0 auto;
}

.hero {
    padding: 200px 0;
}

.hero-title {
    color: var(--text-color-white);
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    line-height: 1.36;
    width: 696px;
    height: 120px;
    margin: 0 auto 30px auto;
}

.hero-btn {
    display: block;
    color: var(--text-color-white);
    background-color: var(--brand-color-blue);
    font-weight: 700;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    width: 200px;
    height: 50px;
}

/* FEATURES */
.advantages-list {
    display: flex;
}

.advantages-list-item {
    max-width: 270px;
}

.advantages-list-item:not(:last-child) {
    margin-right: 30px;
}

.features-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-grey);
    border-radius: 4px;
    height: 120px; 
    margin-bottom: 30px;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-desc {
    color: var(--text-color-grey);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* WHAT-ARE-WE-DOING */
.our-work {
    padding-bottom: 94px;
}

.our-work-list {
    display: flex;
    justify-content: space-between;
}

/* TEAM */
.team-section {
    background-color: var(--background-color-grey);
    padding-bottom: 94px;
}

.team-section-list {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.team-section-list-item {
    background-color: var(--background-color-light);
    line-height: 1.19;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-person-name {
    font-weight: 500;
    margin: 30px auto 10px auto
}

.team-person-position {
    color: var(--text-color-grey);
    margin-bottom: 16px;
}

.team-socmedia-list {
    margin-bottom: 30px;
}

.team-socmedia-icon {
    fill: var(--icon-grey-color);
}

.socmedia-link:hover .team-socmedia-icon {
    fill: var(--text-color-white);
}

.socmedia-link:focus .team-socmedia-icon {
    fill: var(--text-color-white);
}

/* CLIENTS-SECTION */
.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients-link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-link:hover {
    border-color: var(--brand-color-blue);
}

.clients-link:hover .client-icon {
    fill: var(--brand-color-blue);
}

.clients-link:focus .client-icon {
    fill: var(--brand-color-blue);
}

.client-icon {
    fill: var(--icon-grey-color);
}

/* FOOTER */
.footer {
    background-color: var(--background-color-black);
    padding: 60px 215px;
    display: flex;
}

.address-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer-logo {
    display: flex;
    margin-bottom: 28px;
}

.logo-white {
    color: var(--text-color-white);
}

.list-address {
    color: var(--text-color-white);
    margin-bottom: 12px;
}

.footer-mail {
    display: flex;
    margin-bottom: 12px;
}

.footer-list-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.footer-socmedia {
    margin-left: 94px;
}

.footer-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-white);
    margin-bottom: 20px;
}

.socmedia-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socmedia-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.socmedia-icon {
    fill: var(--text-color-white);
}

.socmedia-link:hover, .socmedia-link:focus {
    background-color: var(--brand-color-blue);
}
 

/* PORTFOLIO */
.navigation {
    border-top: 1px solid #ECECEC;
    padding-top: 94px;

}

.nav-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.portfolio-btn {
    background-color: var(--background-color-grey);
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    padding: 6px 22px;
}

.portfolio-btn:not(:last-child) {
    margin-right: 8px;
}

.portfolio-btn:hover, .portfolio-btn:focus {
    color: var(--text-color-white);
    background-color: var(--brand-color-blue);
}

.active-btn {
    color: var(--text-color-white);
    background-color: var(--brand-color-blue);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-item {
    outline: 1px solid #EEEEEE;
}

.card-info {
    padding: 20px 24px;
}

.card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.card-desk {
    color: var(--text-color-grey);
    line-height: 1.88;
}